on: push

jobs:
   build-and-deploy-prod:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master

    - uses: azure/k8s-set-context@cluster-connect
      with:
         cluster-type: 'arc'
         creds: ${{secrets.WOKER_VM_DEV_CREDS}}
         token: ${{secrets.RESULT_PROD_ARC_TOKEN}}
         resource-group: azure-attach-prod
         cluster-name: azure-attach-result-prod
      id: login
    
