name: create_custom_windows_image

on:
  push:
    paths:
      - worker/**
      - .github/workflows/worker-deployment.yml
    branches:
      - master

jobs:      
  job1:
    runs-on: ubuntu-latest
    name: Create Custom Linux Image
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    
    - name: Login via Az module
      uses: azure/login@v1
      with:
        creds: ${{secrets.WOKER_VM_DEV_CREDS}}

    - name: BUILD WEBAPP
      run: |
        sudo chmod +x ${{ GITHUB.WORKSPACE }}/worker/scripts/copyArtifacts.sh
        sudo ${{ GITHUB.WORKSPACE }}/worker/scripts/copyArtifacts.sh
      
    - name: Build and Distribute Custom VM Image
      uses: azure/build-vm-image@v0
      with:        
        resource-group-name: 'azure-attach-mi-dev'
        location: 'eastus'
        managed-identity: 'azure-attach-dev-mi'
        source-os-type: 'windows'
        source-image-type: 'PlatformImage'
        source-image: MicrosoftWindowsServer:WindowsServer:2019-Datacenter:latest     
        customizer-script: |
          sudo mkdir /buildArtifacts
          sudo cp -r /tmp/ /buildArtifacts/
          sh /buildArtifacts/scripts/webdeploy.ps1